* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --background-color: #ffffff;
  --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  --border-radius: 10px;
}
