@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

.dial-scroll::-webkit-scrollbar {
  display: none;
}

.dial-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* bg-white shadow-lg rounded-xl rounded-full*/

@layer utilities {
  .text-heading-1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .text-heading-2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }

  .text-body-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .text-body-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .text-body-bold {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  .text-dial-selected {
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
  }

  .text-dial-unselected {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .text-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  .text-caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }

  .text-char-count {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }

  .bg-main-gradient {
    background: linear-gradient(95.33deg, #EB4763 0%, #F48434 100%);
  }

  .bg-card-gradient {
    background: linear-gradient(135deg, #F0F9FF 0%, #F3E8FF 100%);
  }

  .bg-choice-header-gradient {
    background: linear-gradient(115.6deg, #EB4763 0%, #F48434 100%);
  }
}
